// i3 Keyboard menu
@theme "dark_theme.rasi"

configuration {
  show-icons: true;
  icon-theme: "Qogir";
  scroll-method: 0;
  disable-history: false;
  sidebar-mode: false;
}

window {
  width: 30%;
  padding: 10px;
}

listview {
  columns: 1;
}

// Group Header Style
element.meta {
  text-color: @blue;
  padding: 6px 4px;
}
