#!/bin/bash

alias l='ls -laF'

# docker
if command -v docker &>/dev/null; then
  # dive into the container
  alias dive="docker run -ti --rm  -v /var/run/docker.sock:/var/run/docker.sock wagoodman/dive"

  # remove dangling containers
  alias drd='docker rmi -f $(docker images -f "dangling=true" -q)'

  # stop all containers
  alias dsa='docker stop $(docker ps -a -q)'

  # remove all containers
  alias dra='docker rm $(docker ps -a -q)'

  # get container ip
  alias dip="docker inspect -f '{{`{{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}`}}'"

  # remove images
  alias dri='docker rmi $(docker images -q)'
fi

{{- if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "endeavouros") }}
# pacman
if command -v pacman &>/dev/null; then
  # install package
  alias paci='sudo pacman -S'

  # Pacman Has Installed - what files where installed in a package
  alias pachi='sudo pacman -Ql'

  # search
  alias pacs='sudo pacman -Ss'

  # update
  alias pacu='sudo pacman -Syu'

  # remove package but not dependencies
  alias pacr='sudo pacman -R'

  # remove package with unused dependencies by other softwares
  alias pacrr='sudo pacman -Rs'

  # remove pacman cache
  alias pacrc='sudo pacman -Sc'
  alias pacc='sudo pacman -Sc'
  alias paccc='sudo pacman -Scc' # empty the whole cache
fi

# yay
if command -v yay &>/dev/null; then
  # install
  alias yayi='yay -S'

  # Yay Has Installed - what files where installed in a package
  alias yayhi='yay -Ql'

  # search
  alias yays='yay -Ss'

  # update
  alias yayu='yay -Syu'

  # remove package but not dependencies
  alias yayr='yay -R'

  # remove package with unused dependencies by other softwares
  alias yayrr='yay -Rs'

  # remove yay's cache
  alias yayrc='yay -Sc'
  alias yayls="yay -Qe"
fi
{{- end }}
