// i3 Apps menu (dmenu mode)
@theme "dark_theme.rasi"

configuration {
  show-icons: true;
  icon-theme: "Qogir";

  drun-display-format: "{name}";
  display-drun: "Apps";

  disable-history: false;
  sidebar-mode: false;
  scroll-method: 0;
}

window {
  padding: 20px;
}

listview {
  lines: 10;
  columns: 3;
}