// i3 Apps menu
@theme "dark_theme.rasi"

configuration {
  show-icons: true;
  icon-theme: "Qogir";
  scroll-method: 0;
  disable-history: false;
  sidebar-mode: false;
  display-drun: "Apps";
  drun-display-format: "{name}";
}

window {
  padding: 20px;
}

listview {
  lines:   10;
  columns: 3;
}
