// i3 power profiles
@theme "dark_theme.rasi"

configuration {
    show-icons:       false;
    scroll-method:    0;
    disable-history:  true;
    fullscreen:       false;
    hide-scrollbar:   true;
    sidebar-mode:     false;
}

window {
    width:    280px;
    location: east;
    anchor:   east;
}

listview {
    lines:   3;
    columns: 1;
}

mainbox {
    children: [ listview ];
}